<style>
  li.active {
    color: #4F8EF7;
  }
</style>
<div ng-controller="PromoController">
  <ion-view view-title="{{promoSelected.titulo}}">
    <ion-content>
      <div class="list card" >

        <div class="item item-body">
          <img class="full-image" src="{{promoSelected.imagenesUrls[0]}}">
          <p>
            {{promoSelected.descripcionLarga}}
          </p>
          <p>
            <table width="100%">
            <tr>
              <td class="subdued">
                <span class="tenue textCancel">{{promoSelected.precioRegular | currency}}</span><br/>
                <span class="resaltar">{{promoSelected.precioDescuento | currency}}</span>
              </td>
              <td align="right">
                Kupon <br/>
                <span class="resaltar">{{promoSelected.precioKupon | currency}}</span>
              </td>
              <td align="right">
                Disponibles <br/>
                <span ng-show="promoSelected.cantidadKupones > 0" class="resaltar">
                  {{promoSelected.cantidadKupones - promoSelected.cantidadCreados}}
                </span>
                <span ng-show="promoSelected.cantidadKupones <= 0" class="resaltar">Ilimitado</span>
              </td>
              <td align="right">
                Me gusta <br/>
                <ul id="icons" >
                  <li style="text-align: center" class="ion-thumbsup" ng-class="{active: megusta}"
                      ng-click="meGusta(promoSelected);"></li>
                </ul>
              </td>
            </tr>
            </table>
          </p>
          <p ng-show="promoSelected.restricciones.length > 0">
            <h2> Restricciones </h2>
            {{promoSelected.restricciones}}
          </p>
          <p>
            <h2>Compartir</h2>
            <a href="javascript:;" ng-click="shareViaFacebook(promoSelected)"><img src="img/fbicon.png" class="icon"></a>
          </p>
          <br>
        </div>

      </div>

    </ion-content>

    <div class="bar bar-footer">
      <table width="100%" >
        <tr>
          <td ng-if="promoSelected.finVigencia">
            <span class="tenue">Kupon Válido hasta {{promoSelected.finVigencia | date:"MM/dd/yyyy"}} </span><br/>
            Faltan {{vigenciaDias}} dias.
          </td>
          <td ng-if="!promoSelected.finVigencia">
            <span>
              Este kupon no tiene vigencia.
            </span>
          </td>
          <td align="right">
            <a href="#/app/compra" class="button button-balanced" ng-click="comprar()"> LO QUIERO </a>
          </td>
        </tr>
      </table>
    </div>
  </ion-view>
</div>
