<!--header start-->
<header class="header dark-bg">
    <div class="toggle-nav">
        <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"></div>
    </div>

    <!--logo start-->
    <a href="index.html" class="logo">Mis <span class="lite">Kupones</span></a>
    <!--logo end-->

    <div class="nav search-row" id="top_menu"></div>

    <div class="top-nav notification-row">
        <!-- notificatoin dropdown start-->
        <ul class="nav pull-right top-menu">
            <!-- user login dropdown start-->
            <li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="javascript:;">
                    <span class="profile-ava">
                        <img alt="" src="img/avatar1_small.jpg">
                    </span>
                    <span class="username"><%= req.session.user.username %></span>
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu extended logout">
                    <div class="log-arrow-up"></div>

                     <% if(req.session.user.perfil == Constantes.perfiles.ADMIN || req.session.user.perfil == Constantes.perfiles.PROVEEDOR ){ %>
                    <li class="eborder-top">
                        <a href="/#/miPerfil"><i class="icon_profile"></i> Mi Perfil</a>
                    </li>
                    <%}%>
                    <% if(req.session.user.perfil == Constantes.perfiles.APP){ %>
                     <li class="eborder-top">
                        <a href="/#/miPerfilKupones"><i class="icon_profile"></i> Mi Perfil</a>
                    </li>
                    <%}%>
                    <li >
                        <a href="/#/changePassword"><i class="icon_profile"></i> Cambiar Contraseña</a>
                    </li>
                     <% if(req.session.user.perfil == Constantes.perfiles.ADMIN || req.session.user.perfil == Constantes.perfiles.PROVEEDOR ){ %>
                    <li>
                        <a href="/logout"><i class="icon_key_alt"></i> Cerrar Sesión</a>
                    </li>
                     <%}%>
                     <% if(req.session.user.perfil == Constantes.perfiles.APP){ %>
                     <li>
                        <a href="/logoutKupones"><i class="icon_key_alt"></i> Cerrar Sesión</a>
                    </li>
                     <%}%>
                </ul>
            </li>
            <!-- user login dropdown end -->
        </ul>
        <!-- notificatoin dropdown end-->
    </div>
</header>
<!--header end-->

<!--sidebar start-->
<aside>
  <div id="sidebar"  class="nav-collapse ">
      <!-- sidebar menu start-->
      <ul class="sidebar-menu">
          <% if(req.session.user.perfil == Constantes.perfiles.ADMIN || req.session.user.perfil == Constantes.perfiles.PROVEEDOR ){ %>
          <li class="active">
              <a class="" href="/#/">
                  <i class="fa fa-tachometer"></i>
                  <span>Dashboard</span>
              </a>
          </li>

          <%}%>
          <% if(req.session.user.perfil == Constantes.perfiles.APP){ %>
          <li class="active">
              <a class="" href="/#/promociones">
                  <i class="fa fa-tags"></i>
                  <span>Promociones</span>
              </a>
          </li>

          <li class="active">
              <a class="" href="/#/miscompras">
                  <i class="fa fa-heart-o"></i>
                  <span>Mis Compras</span>
              </a>
          </li>
          <% } %>
          <!--* * * USUARIOS ESTO SOLO LO VE EL ADMIN * * * -->
          <% if(req.session.user.perfil == Constantes.perfiles.ADMIN){ %>
          <li >
              <a href="/#/usuarios" class="">
                  <i class="icon_group"></i>
                  <span>Usuarios</span>

              </a>
          </li>

          <!--* * * CATEGORIAS ESTO SOLO LO VE EL ADMIN * * * -->
          <li >
              <a href="/#/categorias" class="">
                  <i class="fa fa-glass"></i>
                  <span>Categorias</span>

              </a>
          </li>
          <% } %>
          <!--* * * USUARIOS ESTO SOLO LO VE EL ADMIN * * * -->
          <% if(req.session.user.perfil == Constantes.perfiles.ADMIN || req.session.user.perfil == Constantes.perfiles.PROVEEDOR ){ %>
          <li >
              <a href="/#/kupones" class="">
                  <i class="fa fa-gift"></i>
                  <span>Kupones</span>

              </a>
          </li>
          <%}%>


      </ul>
      <!-- sidebar menu end-->
  </div>
</aside>

<!--sidebar end-->
<ng-view></ng-view>

<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{modal.title}}</h4>
      </div>
      <div class="modal-body">
        <p>{{modal.msg}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


