<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Mis Kupones">
  <meta name="author" content="GeeksLabs">
  <meta name="keyword" content="Kupones Cupones">
  <!-- si viene un producto -->
  <% if(typeof metas != 'undefined'){%>
  <meta property="og:image" itemprop="image primaryImageOfPage" content="<%=metas.image%>" />
  <meta name="og:title" id="mtt" property="og:title" itemprop="title name" content="<%=metas.title%>" />
  <meta name="og:description" property="og:description" itemprop="description" content="<%=metas.description%>" />
  <%}%>
  <link rel="shortcut icon" href="img/favicon.png">
  <title>Mis Kupones</title>
  <!-- Bootstrap CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <!-- bootstrap theme -->
  <link href="css/bootstrap-theme.css" rel="stylesheet">
  <!--external css-->
  <!-- font icon -->
  <link href="css/elegant-icons-style.css" rel="stylesheet" />
  <link href="css/font-awesome.min.css" rel="stylesheet" />

  <link href="css/widgets.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  <link href="css/style-responsive.css" rel="stylesheet" />
  <link href="css/jquery-ui-1.10.4.min.css" rel="stylesheet">
  <link href="css/jquery-ui-1.10.4.min.css" rel="stylesheet">

  <link href="/css/miskupones.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 -->
  <!--[if lt IE 9]>
  <script src="js/html5shiv.js"></script>
  <script src="js/respond.min.js"></script>
  <script src="js/lte-ie7.js"></script>
  <![endif]-->
</head>

<body>
<!-- container section start -->
<section id="container" class="">
  <%- body %>
</section>
<!-- container section end -->
<!-- javascripts -->
<script src="js/jquery.js"></script>
<script src="js/jquery-ui-1.10.4.min.js"></script>
<script src="js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="js/jquery-ui-1.9.2.custom.min.js"></script>
<!-- bootstrap -->
<script src="js/bootstrap.min.js"></script>
<!-- SCRIPTS ANGULAR -->
<script src="/js/angular.min.js"></script>
<script src="/js/angular-route.min.js"></script>
<script src="/js/angular-resource.js"></script>

<!-- ANGULAR_ANIMATE_TOUCH -->
<script src="/js/angular-animate.min.js"></script>
<script src="/js/angular-touch.min.js"></script>

<script src="/js/app/config.js"></script>
<script src="/js/webUtil.js"></script>
<script src="/js/angular-input-match.js"></script>

<!-- Services -->
<script src="/js/app/servicesDAO.js"></script>
<script src="/js/app/business.js"></script>
<!-- controllers -->
<script src="/js/app/login.js"></script>

</body>
</html>
