<!--main content start-->
<section ng-controller="KuponesCtrl" id="main-content" ng-if="((action == 'C' || action == 'U') && showContent)">
    <section class="wrapper">
        <div class="spinner" ng-show="loading">
            <img ng-show="loading" src="/img/loading-orange-t2.gif" style="width: 50px; position: absolute; left: 50%; top: 50%; display: block;" />
        </div>
        <!-- <spinner id="mySpinner" show-spinner="false" ></spinner> -->
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header"><i class="fa fa-file-text-o"></i> Capturar / Editar Kupones</h3>
                <ol class="breadcrumb">
                    <li><i class="fa fa-home"></i><a href="/#/">Inicio</a></li>
                    <li><i class="fa fa-laptop"></i><a href="/#/kupones">Kupones</a></li>
                    <li><i class="fa fa-file-text-o"></i>Capturar / Editar Kupones</li>
                </ol>
            </div>
        </div>
        
        <!-- Basic Forms & Horizontal Forms-->
        
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        Kupones
                    </header>
                    <div class="panel-body">
                        <form class="form-validate form-horizontal " id="kupones_form" name="kuponesFormNg" method="get" ng-submit="uploadUsingUpload(picFile)" role="form">
                            <div class="form-group">
                                <label for="tituloPromocion" class="control-label col-lg-2">Categoría <span class="required">*</span></label>
                                <div class="col-sm-6">
                                    <select class="form-control m-bot15" required ng-model="catPromo" ng-change="readAllSubCategorias(catPromo)" ng-options="categoria.descripcion for categoria in categorias track by categoria.categoriaId">
                                        <option value="">-- Selecciona categoria --</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="tituloPromocion" class="control-label col-lg-2">Subcategoría <span class="required">*</span></label>
                                <div class="col-sm-6">
                                    <select class="form-control m-bot15" required ng-init="currentKupon._subCategoria = currentKupon.subCategoriaId" ng-change="currentKupon.subCategoriaId = currentKupon._subCategoria" ng-model="currentKupon._subCategoria" ng-options="subcategoria.descripcion for subcategoria in subcategorias track by subcategoria.subCategoriaId">
                                        <option value="">-- Selecciona subcategoria --</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="tituloPromocion" class="control-label col-lg-2">Titulo de la promoción <span class="required">*</span></label>
                                <div class="col-lg-10">
                                    <input class="form-control" id="tituloPromocion" name="tituloPromocion" placeholder="Introduzca el titulo del la promoción" type="text" required ng-model="currentKupon.titulo" ng-trim="true" ng-maxlength="255">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="descripcionCorta" class="control-label col-lg-2">Descripción corta <span class="required">*</span></label>
                                <div class="col-lg-10">
                                    <input class="form-control" id="descripcionCorta" name="descripcionCorta" placeholder="Introduzca el titulo del la promoción" type="text" required ng-model="currentKupon.descripcionCorta" ng-trim="true" ng-maxlength="255">
                                </div>
                            </div>
                            <div class="form-group ">
                                <label for="descripcionLarga" class="control-label col-lg-2">Descripción larga <span class="required">*</span></label>
                                <div class="col-lg-10">
                                    <textarea class="form-control " id="descripcionLarga" name="descripcionLarga" placeholder="Descripción larga del kupon" required ng-model="currentKupon.descripcionLarga" ng-trim="true" ng-maxlength="510"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="imagenKupon" class="control-label col-lg-2">Imagén a desplegar <span class="required">*</span></label>
                                <div class="col-lg-10">
                                    <!-- slider container -->
                                    <div class="container slider">

                                        <!-- enumerate all photos -->
                                        <img ng-repeat="photo in arryImgns" class="slide" ng-swipe-right="showPrev()" ng-swipe-left="showNext()" ng-show="isActive($index)" ng-src="{{photo.imgUrl}}"/>

                                        <!-- prev / next controls -->
                                        <a class="arrow prev" ng-href="{{currPath}}" ng-click="showPrev()"></a>
                                        <a class="arrow next" ng-href="{{currPath}}" ng-click="showNext()"></a>

                                        <!-- extra navigation controls -->
                                        <ul class="nav-slider">
                                            <li ng-repeat="photo in arryImgns" ng-class="{'active':isActive($index)}">
                                                <img ng-src="{{photo.imgUrl}}" alt="{{photo.imgName}}" title="{{photo.imgName}}" ng-click="showPhoto($index);" />
                                            </li>
                                        </ul>

                                    </div>
                                    <!-- 
                                    <div ng-repeat="imgnObj in arryImgns">
                                        {{imgnObj.imgName}}
                                        <img ng-src="{{imgnObj.imgUrl}}" style="width: 30%; height: 30%" alt="Description">
                                    </div>
                                     -->
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="kuponActivo" class="control-label col-lg-2 col-sm-3">Reemplazar imagen </label>
                                <div class="col-lg-10">
                                    <input type="checkbox" style="width: 20px" class="checkbox form-control" id="remplazarImg" name="remplazarImg" ng-model="remplazarImg"/>
                                 </div>
                            </div>
                            <div class="form-group " ng-if="remplazarImg">
                                <label for="restricciones" class="control-label col-lg-2">Seleccionar nueva imagen <span class="required">*</span></label>
                                <div class="col-lg-10">
                                    <input type="file" class="form-control" ngf-select ng-model="picFile" name="picFile" ngf-multiple="true" accept="image/*" ngf-accept="'image/jpeg,image/jpg,image/png'" ngf-min-size='10' ngf-max-size='3145728' required ng-change="fileNameChanged(this)"/>
                                    <img ng-show="picFile[0] != null" ngf-src="picFile[0]" class="thumb">
                                    <img ng-show="picFile[1] != null" ngf-src="picFile[1]" class="thumb">
                                    <img ng-show="picFile[2] != null" ngf-src="picFile[2]" class="thumb">
                                    <span class="progress" ng-show="picFile[0].progress >= 0">      
                                        <div style="width:{{picFile[0].progress}}%" ng-bind="picFile[0].progress + '%'" class="ng-binding"></div>
                                    </span> 
                                    <span ng-show="picFile[0].result">¡¡Archivo adjuntado exitosamente!!</span>
                                    <p class="help-block">Archivos aceptados: jpeg, jpg, png.</p>
                                </div>
                            </div>
                            <div class="form-group ">
                                <label for="restricciones" class="control-label col-lg-2">Restricciones <span class="required">*</span></label>
                                <div class="col-lg-10">
                                    <textarea class="form-control " id="restricciones" name="restricciones" placeholder="Restricciones del kupon" required ng-model="currentKupon.restricciones" ng-trim="true" ng-maxlength="510"></textarea>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="vigencia" class="control-label col-lg-2">Vigencia <span class="required">*</span></label>
                                <div class="col-sm-6">
                                    <div class="input-prepend">
                                        <input date-range-picker type="text" class="form-control date-picker" id="vigencia" name="vigencia" ng-model="vigencia"  options="dtRngOptns" required/>
                                    </div>
                                </div>
                            </div>
                            <!-- 
                            <div class="form-group">
                                <label for="vigencia" class="control-label col-lg-2">Vigencia <span class="required">*</span></label>
                                <div class="col-sm-6">
                                    <input type="datetime-local" class="form-control" id="vigencia" name="vigencia" ng-model="vigencia" placeholder="yyyy-MM-ddTHH:mm:ss" required />
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="vigencia2" class="control-label col-lg-2">Vigencia <span class="required">*</span></label>
                                <div class="col-sm-6 input-group date" id="datetimepicker5">
                                    <input type="text" class="form-control" id="vigencia2" name="vigencia2" ng-model="vigencia2"/>
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>  
                            <script type="text/javascript">
                                $(function () {
                                    $('#datetimepicker5').datetimepicker({locale: 'es'});
                                });
                            </script>
                            
                            <div class="form-group">
                                <label for="vigencia2" class="control-label col-lg-2">Vigencia <span class="required">*</span></label>
                                <div class='col-sm-6'>
                                    <input type='text' class="form-control" id='datetimepicker4' />
                                </div>
                                <script type="text/javascript">
                                    $(function () {
                                        $('#datetimepicker4').datetimepicker();
                                    });
                                </script>
                            </div>
                             -->
                            <div class="form-group">
                                <label for="cantidadKupones" class="control-label col-lg-2">Número de Kupones <span class="required">*</span></label>
                                <div class="col-lg-10">
                                    <input class="form-control" id="cantidadKupones" name="cantidadKupones" placeholder="Introduzca la cantidad de kupones" type="number" required ng-model="currentKupon.cantidadKupones" min="1" max="1000000">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="precioRegular" class="control-label col-lg-2">Precio regular sin kupon <span class="required">*</span></label>
                                <div class="col-lg-10">
                                    <input class="form-control" id="precioRegular" name="precioRegular" placeholder="Introduzca el precio regular sin kupon" type="number" required ng-model="currentKupon.precioRegular" min="1" max="1000000">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="precioDescuento" class="control-label col-lg-2">Precio con descuento del kupon <span class="required">*</span></label>
                                <div class="col-lg-10">
                                    <input class="form-control" id="precioDescuento" name="precioDescuento" placeholder="Introduzca el precio con descuento del kupon" type="number" required ng-model="currentKupon.precioDescuento" min="1" max="1000000">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="precioKupon" class="control-label col-lg-2">Precio del kupon <span class="required">*</span></label>
                                <div class="col-lg-10">
                                    <input class="form-control" id="precioKupon" name="precioKupon" placeholder="Introduzca el precio del kupon" type="number" required ng-model="currentKupon.precioKupon" min="1" max="1000000">
                                </div>
                            </div>
                            <div class="form-group ">
                                <label for="kuponActivo" class="control-label col-lg-2 col-sm-3">Kupon activo</label>
                                <div class="col-lg-10 col-sm-9">
                                    <input type="checkbox" style="width: 20px" class="checkbox form-control" id="kuponActivo" name="kuponActivo"  ng-model="currentKupon.activo"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-offset-2 col-lg-10">
                                    <button class="btn btn-primary" type="submit">Guardar</button>
                                    <button class="btn btn-default" type="button" ng-click="cancelEditViewKupon()">Cancelar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </section>
            </div>
        </div>
        <!-- page end-->
    </section>
</section>
<!--main content end-->
