<section ng-controller="KuponesCtrl" id="main-content" ng-if="((action == 'R' || action == 'D') && showContent)">
    <section class="wrapper" id="">
        <!-- <spinner id="mySpinner"></spinner> -->
        <!--overview start-->
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header"><i class="fa fa-users"></i> Kupones Registrados</h3>
                <ol class="breadcrumb">
                    <li><i class="fa fa-home"></i><a href="/#/">Inicio</a></li>
                    <li><i class="fa fa-laptop"></i>Kupones</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        <div class="col-lg-8">
                            Kupones
                        </div>
                        <div class="col-lg-4">
                            <a class="btn btn-success" href="#/kupones/create" title="Agregar Kupon">Agregar Kupon</a>
                            <!-- <button class="btn btn-success" ng-click="createKupon()" title="Agregar Kupon">Agregar Kupon</button> -->
                        </div>
                    </header>
                    
                    <table class="table table-striped table-advance table-hover">
                        <thead>
                            <tr>
                                <th><i class=""></i> Título promoción</th>
                                <th><i class=""></i> Descripción corta</th>
                                <th><i class="icon_calendar"></i> Vigencia</th>
                                <th><i ></i> # Kupones</th>
                                <th><i ></i> Kupones creados</th>
                                <th><i class="icon_cogs"></i> Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="kupon in kupones">
                                <td>{{kupon.titulo}}</td>
                                <td>{{kupon.descripcionCorta}}</td>
                                <td>{{kupon.vigencia}}</td>
                                <td>{{kupon.cantidadKupones}}</td>
                                <td>{{kupon.cantidadCreados}}</td>
                                <td>
                                    <div class="btn-group">
                                        <!-- 
                                        <button class="btn btn-primary" ng-click="viewKupon(kupon.id)" title="Consultar Kupon"><i class="icon_document_alt"></i></button>
                                        <button class="btn btn-success" ng-click="updateKupon(kupon.id)" title="Actualizar Kupon"><i class="icon_pencil-edit"></i></button>
                                        <button class="btn btn-danger" ng-click="deleteKupon(kupon.id)" title="Eliminar Kupon"><i class="icon_close_alt2"></i></button>
                                         -->
                                        
                                        <a class="btn btn-primary" ng-href="/#/kupones/view/{{kupon.promocionId}}"><i class="icon_document_alt"></i></a>
                                        <a class="btn btn-success" ng-href="/#/kupones/update/{{kupon.promocionId}}"><i class="icon_pencil-edit"></i></a>
                                        <a class="btn btn-danger" ng-href="/#/kupones/delete/{{kupon.promocionId}}"><i class="icon_close_alt2"></i></a>
                                        
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    
                </section>
            </div>
        </div>

        <!-- Basic Forms & Horizontal Forms-->
        <div class="row" ng-show="(showContent && action == 'C')">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        Kupones
                    </header>
                    <div class="panel-body">
                        <form class="form-validate form-horizontal " id="register_form" method="get" action="" role="form">
                            <div class="form-group">
                                <label for="tituloPromocion" class="control-label col-lg-2">Titulo de la promoción <span class="required">*</span></label>
                                <div class="col-lg-10">
                                    <input class="form-control" id="tituloPromocion" name="tituloPromocion" placeholder="Introduzca el titulo del la promocón" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="descripcionCorta" class="control-label col-lg-2">Descripción corta <span class="required">*</span></label>
                                <div class="col-lg-10">
                                    <input class="form-control" id="descripcionCorta" name="descripcionCorta" placeholder="Introduzca el titulo del la promocón" type="text">
                                </div>
                            </div>
                            <div class="form-group ">
                                <label for="descripcionLarga" class="control-label col-lg-2">Descripción larga <span class="required">*</span></label>
                                <div class="col-lg-10">
                                    <textarea class="form-control " id="descripcionLarga" name="descripcionLarga" placeholder="Descripcion larga del kupon" required></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="imagenKupon" class="control-label col-lg-2">Imagén a desplegar <span class="required">*</span></label>
                                <div class="col-lg-10">
                                    <input type="file" id="imagenKupon" name="imagenKupon">
                                    <p class="help-block">Example block-level help text here.</p>
                                </div>
                            </div>
                            <div class="form-group ">
                                <label for="restricciones" class="control-label col-lg-2">Restricciones <span class="required">*</span></label>
                                <div class="col-lg-10">
                                    <textarea class="form-control " id="restricciones" name="restricciones" placeholder="Restricciones del kupon" required></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-2">Vigencia <span class="required">*</span></label>
                                <div class="col-sm-6">
                                    <div class="input-append date" id="dpYears" data-date="18-06-2013"
                                        data-date-format="dd-mm-yyyy" data-date-viewmode="years">
                                        <input class="form-control" size="16" type="text" value="28-06-2013" readonly>
                                        <span class="add-on"><i class="icon-calendar"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="precioRegular" class="control-label col-lg-2">Precio regular sin kupon <span class="required">*</span></label>
                                <div class="col-lg-10">
                                    <input class="form-control" id="precioRegular" name="precioRegular" placeholder="Introduzca el precio regular sin kupon" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="precioDescuento" class="control-label col-lg-2">Precio con descuento del kupon <span class="required">*</span></label>
                                <div class="col-lg-10">
                                    <input class="form-control" id="precioDescuento" name="precioDescuento" placeholder="Introduzca el precio con descuento del kupon" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="precioKupon" class="control-label col-lg-2">Precio del kupon <span class="required">*</span></label>
                                <div class="col-lg-10">
                                    <input class="form-control" id="precioKupon" name="precioKupon" placeholder="Introduzca el precio del kupon" type="text">
                                </div>
                            </div>
                            <div class="form-group ">
                                <label for="kuponActivo" class="control-label col-lg-2 col-sm-3">Kupon activo</label>
                                <div class="col-lg-10 col-sm-9">
                                    <input type="checkbox" style="width: 20px" class="checkbox form-control" id="kuponActivo" name="kuponActivo" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-offset-2 col-lg-10">
                                    <button class="btn btn-primary" type="submit">Guardar</button>
                                    <button class="btn btn-default" type="button">Cancelar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </section>
            </div>
        </div>
        <!-- page end-->

        <!-- page end-->
    </section>
</section>
