<!-- Button trigger modal -->

<section id="main-content" >
  <section class="wrapper" id="">            
    <!--overview start-->
    <div class="row">
      <div class="col-lg-12">
        <h3 class="page-header"><i class="fa fa-users"></i> Editar mi Perfil</h3>
        <ol class="breadcrumb">
          <li><i class="fa fa-home"></i><a href="/#/">Home</a></li>
          <li><i class="fa fa-laptop"></i>Editar Perfil</li>                
        </ol>
      </div>
    </div>

    <div class="row">
		<div class="col-lg-12">
		  <section class="panel">
		      <header class="panel-heading">
		         Editar Mi Perfil
		      </header>
		      <div class="panel-body">
		          <div class="form">
		              <form class="form-validate form-horizontal " ng-submit="perfil()">

		              	  <div class="form-group ">
		                      <label  class="control-label col-lg-2">Username<span>*</span></label>
		                      <div class="col-lg-10">
		                          <input class=" form-control" ng-model="user.username" ng-disabled="block" type="text" />
		                      </div>
		                  </div>
		                   <div class="form-group ">
		                      <label class="control-label col-lg-2">Email <span>*</span></label>
		                      <div class="col-lg-10">
		                          <input class="form-control" ng-model="user.email" ng-disabled="block" type="email" />
		                      </div>
		                  </div>
		                  <div class="form-group ">
		                      <label  class="control-label col-lg-2">Nombre'(s)<span class="required">*</span></label>
		                      <div class="col-lg-10">
		                          <input class=" form-control" ng-model="user.nombre" type="text" />
		                      </div>
		                  </div>
		                  <div class="form-group ">
		                      <label class="control-label col-lg-2">Apellido Paterno<span class="required">*</span></label>
		                      <div class="col-lg-10">
		                          <input class=" form-control" ng-model="user.apellidoPaterno" type="text" />
		                      </div>
		                  </div>
		                  <div class="form-group ">
		                      <label class="control-label col-lg-2">Apellido Materno<span class="required">*</span></label>
		                      <div class="col-lg-10">
		                          <input class=" form-control" ng-model="user.apellidoMaterno" type="text" />
		                      </div>
		                  </div>
		                  <div class="form-group ">
		                      <label  class="control-label col-lg-2">Estado <span class="required">*</span></label>
		                      <div class="col-lg-10">
								  <select class="form-control m-bot15" ng-model="user.estado" ng-options="estado for estado in estados" required>
	                                 <option value="" selected="selected">--Selecciona--</option>
	                              </select>                             
		                      </div>
		                  </div>
		                  <div class="form-group ">
		                      <label  class="control-label col-lg-2">Ciudad <span class="required">*</span></label>
		                      <div class="col-lg-10">
			                      <select class="form-control m-bot15" ng-model="user.ciudad" ng-options="ciudad for ciudad in ciudades" required>
	                                <option value="" selected="selected">--Selecciona--</option>
	                              </select>   
		                      </div>
		                  </div>
		                  <div class="form-group ">
		                      <label  class="control-label col-lg-2">Fecha Nacimiento <span class="required">*</span></label>
		                      <div class="col-lg-10">
		                          <input class="form-control " ng-model="user.fechaNacimiento" ui-date required />
		                      </div>
		                  </div>
		                  <div class="form-group ">
		                      <label  class="control-label col-lg-2">Sexo <span class="required">*</span></label>
		                      <div class="col-lg-10">
		                          <div class="radio">
                                      <label>
                                          <input type="radio" name="optionsRadios" ng-model="user.sexo" id="optionsRadios1" value="Masculino" checked>
                                          Masculino
                                      </label>
                                  </div>
                                  <div class="radio">
                                      <label>
                                          <input type="radio" name="optionsRadios" ng-model="user.sexo" id="optionsRadios2" value="Femenino">
                                          Femenino
                                      </label>
                                  </div>
		     
		                      </div>
		                  </div>
		                  <div class="form-group">
		                      <div class="col-lg-offset-2 col-lg-10">
		                          <button class="btn btn-primary" type="submit">Guardar</button>
		                      </div>
		                  </div>
		              </form>
		          </div>
		      </div>
		  </section>
		</div>    
	</div>
</section>