.cursor{
    cursor: pointer;
}
.error{
    color: darkred;
}
.tenue{
    font-size: 11px;
    color: #898989;
}

.textCancel{
    text-decoration: line-through;
}

.resaltar{
    font-size: 14px;
    color: #204d74;
}

.icon{
	width: 30px;
	height: 30px;
}

li:hover {
    color: #4F8EF7;
}

/** Effects in modals **/

.scale-in {
    -webkit-transform: scale(0.0);
    transform: scale(0.0);
    opacity: 0;
}
.scale-in.ng-enter,
.scale-in > .ng-enter {
    -webkit-transition: all cubic-bezier(.1, .7, .1, 1) 400ms;
    transition: all cubic-bezier(.1, .7, .1, 1) 400ms;
}
.scale-in.ng-enter-active,
.scale-in > .ng-enter-active {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}
.scale-in.ng-leave,
.scale-in > .ng-leave {
    -webkit-transition: all ease-in-out 250ms;
    transition: all ease-in-out 250ms;
}