<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/kupones.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->
    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/ionic/js/angular/angular-input-match.js"></script>
    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
    <!-- cordova script (this will be a 404 during development) -->
    <script src="lib/ng-cordova.js"></script>

    <!-- Services -->
    <script src="js/servicesDAO.js"></script>
    <script src="js/business.js"></script>
    <!-- your app's js -->
    <script src="lib/pouchdb-3.6.0.min.js"></script>
    <script src="js/config.js"></script>
    <script src="js/miskupones.js"></script>
    <script src="js/login.js"></script>
    <script src="js/controllers.js"></script>

  </head>

  <body ng-app="starter">
  <ion-content>
    <div class="container" ng-controller="LoginController">

      <div class="row text-center" ng-show="isLogin" >
        <div class="col-md-12 text-center">
          <img src="img/miskupones.png" >
          </div>
      </div>

      <div id="loginbox" style="margin-top:10px;" ng-show="isLogin" >
        <div class="panel panel-info" style="border: none" >
          <div class="panel-heading">
            <div class="panel-title">Iniciar sesión</div>
          </div>
          <form id="loginform" name="loginForm" role="form" ng-submit="login()">
            <div class="list" >

              <div ng-show="errorLogin" id="login-alert"
                   class="alert alert-danger col-sm-12">
                <i class="icon ion-sad"></i>
                {{errorLogin}}
              </div>

              <div class="list list-inset">
                <label class="item item-input">
                  <i class="icon ion-person placeholder-icon"></i>
                  <input type="text" placeholder="Escribe tu nombre de usuario"  ng-model="user.identifier">
                </label>
              </div>

              <div class="list list-inset">
                <label class="item item-input">
                  <i class="icon ion-locked placeholder-icon"></i>
                  <input id="login-password" type="password" name="password"
                         placeholder="  Escribe tu contraseña" ng-model="user.password"
                         ng-required="true" ng-minlength="7">
                </label>

              </div>
              <div style="position: relative;top: -15px;left: 10px;" class="error" ng-show="loginForm.password.$dirty && loginForm.password.$invalid">
                    <span ng-show="loginForm.password.$error.required">
                      <span class="glyphicon glyphicon-info-sign "></span>  La contraseña es obligatoria
                    </span>
                    <span ng-show="loginForm.password.$error.minlength">
                      <span class="glyphicon glyphicon-info-sign "></span>  La contraseña es debe tener al menos 7 caracteres
                    </span>
              </div>


              <button id="btn-login"  class="button button-full button-balanced"
                      ng-disabled="loginForm.$invalid">
                Ingresar
              </button>
              <button type="button" class="button button-full button-positive" ng-click="switch()">
                Registrate aqui
              </button>

            </div>
          </form>
        </div>
      </div>

      <!-- PAGINA DE REGISTRO -->

      <div id="signupbox" ng-hide="isLogin" style="margin-top:50px;">

        <div class="panel panel-info" style="border: none">
          <div class="panel-heading">
            <div class="panel-title">Registro</div>
          </div>
          <div class="panel-body" >

            <form id="signupform" name="form" class="form-horizontal" role="form" ng-submit="registrar()">

              <div ng-show="errorRegistro" id="login-alert-registro"
                   class="alert alert-danger col-sm-12">
                <i class="icon ion-sad"></i>
                {{errorRegistro}}
              </div>

              <div class="form-group">
                <label class="col-md-3 control-label">Usuario</label>
                <div class="col-md-9">
                  <input type="text" class="form-control" name="username" ng-model="user.username"
                         placeholder="Escribe tu nombre de usuario" ng-required="true">
                </div>
              </div>
              <div style="position: relative;top: -15px" class="error" ng-show="form.username.$dirty && form.username.$invalid">
                <span ng-show="form.username.$error.required">
                  <span class="glyphicon glyphicon-info-sign "></span>  El nombre de usuario es obligatorio
                </span>
              </div>

              <div class="form-group">
                <label class="col-md-3 control-label">Email</label>
                <div class="col-md-9">
                  <input type="text" class="form-control" name="email" ng-model="user.email"
                         placeholder="Escribe tu correo electrónico" ng-required="true"
                         ng-pattern="/^([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/" >
                </div>
              </div>
              <div style="position: relative;top: -15px" class="error" ng-show="form.email.$dirty && form.email.$invalid">
                <span ng-show="form.email.$error.required">
                  <span class="glyphicon glyphicon-info-sign "></span>  El correo electrónico es obligatorio
                </span>
                <span ng-show="form.email.$error.pattern">
                  <span class="glyphicon glyphicon-info-sign "></span>  El correo electrónico es inválido
                </span>
              </div>

              <div class="form-group">
                <label class="item item-input item-select" style="border:none">
                  <div class="input-label">
                    Estado
                  </div>
                  <select ng-model="estadoSelected" ng-change="setEstado(estadoSelected)"
                          ng-options="estado.id as estado.nombre for estado in estados">
                  </select>
                </label>
              </div>

              <div class="form-group">
                <label class="col-md-3 control-label">Contraseña</label>
                <div class="col-md-9">
                  <input type="password" class="form-control" name="password" ng-model="user.password"
                         placeholder="Escribe tu contraseña" ng-required="true" ng-minlength="8">
                </div>
              </div>

              <div style="position: relative;top: -15px" class="error" ng-show="form.password.$dirty && form.password.$invalid">
                <span ng-show="form.password.$error.required">
                  <span class="glyphicon glyphicon-info-sign "></span>  La contraseña es obligatoria
                </span>
                <span ng-show="form.password.$error.minlength">
                  <span class="glyphicon glyphicon-info-sign "></span>  La contraseña debe tener al menos 7 caracteres
                </span>
              </div>

              <div class="form-group">
                <label class="col-md-3 control-label">R. Contraseña</label>
                <div class="col-md-9">
                  <input type="password" class="form-control" name="rpasswd" ng-model="rpassword"
                         placeholder="Confirma tu contraseña" ng-match="user.password">
                </div>
              </div>
              <div style="position: relative;top: -15px" class="error" ng-show="form.rpasswd.$dirty && form.rpasswd.$invalid">
                <span>
                  <span class="glyphicon glyphicon-info-sign "></span>  Las contraseñas no coinciden
                </span>
              </div>

              <div class="form-group">
                <!-- Button -->
                <button id="btn-signup" class="button  button-full button-balanced"
                        ng-disabled="form.$invalid">
                  <i class="icon-hand-right"></i> &nbsp Registrarme
                </button>
                <button id="signinlink" type="button" class="button button-full button-positive" ng-click="switch()" >
                  Ingresar
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>

    </div>
    </ion-content>
<!--
    <div class="bar bar-footer">
      <table width="100%" >
        <tr>
          <td align="center">
            <span class="tenue"> &copyTodos los derechos reservados.  Eliteware S. de R.L 2015  </span>
          </td>
        </tr>
      </table>
    </div>
-->
  </body>
</html>
